.header {
    border: #EEEFF1;;
    background-color: #EEEFF1;
    padding: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.screen-menu {
    font-size: 16px;
    max-width: 715px;
    font-family: Roboto;
    text-align: left;
    position: relative;
    left: 60px;
    bottom: 40px;
}

.text {
    color: black;
    padding: 2px;
}

.list-1 {
    color: #34547A;
    display: inline-block;
    border: 1px solid #EEEFF1;
    margin-left: 20px;
}

.list {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #EEEFF1;
    padding: 20px;
}

.design {
    font-family: Roboto;
    font-size: 25px;
    text-align: left;
    padding: 5px;
    position: relative;
    top: 5px;
    left: 78px;
}

.about {
    font-family: Roboto;
    font-size: 15px;
    text-align: left;
    padding: 5px;
    position: relative;
    top: 15px;
    left: 78px;
}

.write {
    font-family: Roboto;
    font-size: 10px;
    text-align: left;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    top: 40px;
    left: 83px;
    color: white;
    background-color: #34547A;
}





.header-two {
    border: #fafbfde4;
    background-color: #fafbfde4;
    padding: 60px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.melor {
    width: 1100px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 43px;
    left: 60px;
}

.me {
    width: 1100px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 40px;
    left: 60px;
}





.header-three {
    border: #34547A;
    background: #34547A;
    padding: 15px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.plus {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    left: 250px;
}

.all {
    width: 120px;
    display: inline-block;
}

.numbers-item {
    text-align: center;
    padding: 5px;
    position: relative;
    top: 12px;
    left: 15px;
}

.old {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 40px;
    left: 75px;
}

.project {
    color: white;
    padding: 1px;
    position: relative;
    bottom: 40px;
    left: 75px;
}





.mac {
    border: #EEEFF1;
    background-color: #EEEFF1;
    padding: 50px;
}

.visit {
    max-width: 1200px;
    margin: 0 auto;
}

.lor {
    width: 700px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 1px;
    left: 280px;
}

.work {
    max-width: 700px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 65px;
    left: 285px;
}

.code {
    width: 450px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 10px;
    left: 400px;
}

.vec {
    width: 85px;
    text-align: center;
    position: relative;
    top: 93px;
    left: 130px;
}




.end {
    border: #34547A;
    background-color: #34547A;
    padding: 15px;
}

.cont {
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    color: white;
    position: relative;
    top: 20px;
    left: 250px;
}

.name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: white;
    position: relative;
    bottom: 6px;
    left: 250px;
}





