.header {
    border: #F9F6F5;
    background-color: #F9F6F5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.background-bg {
    background-image: url(../img/image-1.png);
    max-width: 1400px;
    margin: 0 auto;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.header-wrap {
    padding-top: 20px;
    padding-bottom: 25px;
}

.flex-container {
    display: flex;
    justify-content: space-between; 
}

.logo {
    font-size: 16px;
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
    line-height: 22px;
}

.navigation__link_active {
    font-size: 10px;
    font-weight: 400;
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: #222222;
}

.navigation__nav-item {
    display: inline-block;
    margin-right: 30px;
}

.icons-prof__icons-item {
    display: inline-block;
    margin-right: 20px;
}

.icons-prof__butto_img {
    background-color: #F9F6F5;
}

.flex-wrap {
    display: flex;
    justify-content: space-between; 
}

.products {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif;
    font-size: 40px;
    margin-top: 60px;
    line-height: 50px;
    font-weight: 500;
}

.about {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    margin-top: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
}

.icons {
    margin-top: 35px;
    position: relative;
}

.icons__search {
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons__button {
    color: #F9F6F5;
    background-color: #402F2C;
    padding: 6px 6px; 
    position: absolute;
    left: 125px;
    top: 4px;
}

.shop-button__button_tap {
    font-size: 14px;
    color: #F9F6F5;
    background-color: #402F2C;
    padding: 14px 28px;
    margin-top: 50px;
}




.main {
    border: white;
    background-color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapp {
    padding-top: 50px;
    padding-bottom: 50px;
}

.company-list {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.company-list__group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-company-list {
    display: flex;
    justify-content: space-between;
}

.flex-cosmetic-block {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.block-one__popular {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 70px;
}

.block-one__about {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: #555555;
    margin-top: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
}

.discover {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover__arrow {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid black;
}

.flex-face {
    display: flex;
    justify-content: space-between;
}

.face {
    border: 1px solid #685A5230;
    margin-top: 20px;
}

.face__bottle {
    width: 540px;
}

.rectangle {
    width: 125px;
    height: 10px;
    background-color: #FBEFE7;
    position: relative;
    top: 50px;
    left: 208px;
}

.title {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif;
    font-size: 25px;
    margin-top: 10px;
    line-height: 40px;
    padding-left: 15px;
    font-weight: 500;
}

.title-about {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: #555555;
    margin-top: 7px;
    line-height: 25px;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 400;
}

.buy {
    margin-bottom: 15px;
    margin-top: 45px;
    padding-left: 15px;
}

.flex-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.buy__button-buy {
    font-size: 14px;
    color: #F9F6F5;
    background-color: #402F2C;
    padding: 14px 28px;
}

.buy__button-add {
    font-size: 14px;
    border: 1px solid #685A5275;
    padding: 14px 28px;
    background-color: white;
    margin-left: 10px;
}

.text {
    font-size: 23px;
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    margin-bottom: 25px;
    padding-right: 15px;
}



.main-block {
    border: #FDF8F5;
    background-color: #FDF8F5;
}

.box {
    max-width: 1200px;
    margin: 0 auto;
}

.box-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.flex-information {
    display: flex;
    justify-content: space-between;
}

.percent {
    text-align: center;
}

.one-hundred {
    font-size: 56px;
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    font-weight: 700;
    font-style: bold;
    border-bottom: 2px solid black;
}

.title-ab {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: #555555;
    font-size: 17px;
    margin-top: 24px;
    font-weight: 400;
}


.perfect-box {
    max-width: 1200px;
    margin: 0 auto;
}

.perfect-wrap {
    padding-top: 70px;
    padding-bottom: 40px;
}

.flex-about {
    display: flex;
    justify-content: space-between;
}

.all-box {
    margin-top: 50px;
}

.beauty-box {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
}

.box-infa {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: #555555;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 400;
}

.lili {
    width: 550px;
}

.flex-professional {
    display: flex;
    justify-content: space-between;
}

.block-professional {
    margin-top: 70px;
}

.girl {
    width: 530px;
}

.amazing-box {
    margin-top: 40px;
}

.super-des {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.img-stars {
    margin-top: 20px;
    margin-bottom: 50px;
}

.info-pro {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: black;
    font-size: 19px;
    margin-top: 55px;
    font-weight: 500;
}

.pro {
    font-family: Roboto,'Helvetica Neue',sans-serif ;
    color: #555555;
    font-size: 35px;
    margin-top: 17px;
    line-height: 20px;
    font-weight: 400;
}


.footer-box {
    border: #FAFAFA;
    background-color: #FAFAFA;
}

.container-info  {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-info {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer {
    border-bottom: 1px solid  #DDDDDD;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

.news {
    font-size: 25px;
    font-weight: 500;
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
}

.subscribe {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    color: black;
    font-size: 10px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.info-input {
    position: relative;
    background-color: white;
}

.mai {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-footer {
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    color:#555555;
    font-size: 25px;
    font-weight: 400;
    padding-left: 10px;
}

.button-footer {
    font-size: 14px;
    color: #F9F6F5;
    background-color: #402F2C;
    padding: 7px 18px; 
}

.footer-dudeshape {
    margin-top: 50px;
}

.logo_footer {
    font-size: 30px;
    font-family: Red_Hat_Display,'Helvetica Neue',sans-serif ;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
}

.dude-about {
    font-family: Red_Hat_Display ,'Helvetica Neue',sans-serif ;
    color: #555555;
    margin-top: 27px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.flex-footer-dude {
    display: flex;
    justify-content: space-evenly;
}

.home {
    font-size: 13px;
    font-weight: 400;
    color: #222222;
    font-family: Roboto,'Helvetica Neue',sans-serif ;
}

.list-item {
    margin-top: 14px;
}

.quick {
    margin-bottom: 35px;
}

.quick-link {
    font-size: 18px;
    font-weight: 500;
}

.nav-home {
    margin-bottom: 20px;
}

.flex-social-img {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.list-social {
    display: inline;
    margin-right: 10px;
}