.header {
    border: #EEEFF1;;
    background-color: #EEEFF1;
    padding: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.screen-menu {
    font-size: 16px;
    max-width: 715px;
    font-family: Roboto;
    text-align: center;
    position: relative;
    bottom: 40px;
}

.text {
    color: black;
    padding: 2px;
}

.list-1 {
    color: #34547A;
    display: inline-block;
    border: 1px solid #EEEFF1;
    margin-right: 20px;
}

.list {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #EEEFF1;
    padding: 20px;
}

.design {
    font-family: Roboto;
    font-size: 25px;
    text-align: left;
    padding: 5px;
    position: relative;
    top: 5px;
    left: 78px;
}

.about {
    font-family: Roboto;
    font-size: 15px;
    text-align: left;
    padding: 5px;
    position: relative;
    top: 15px;
    left: 78px;
}

.write {
    font-family: Roboto;
    font-size: 10px;
    text-align: left;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    top: 40px;
    left: 83px;
    color: white;
    background-color: #34547A;
}





.header-two {
    border: #fafbfde4;
    background-color: #fafbfde4;
    padding: 60px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.melor {
    width: 1100px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 43px;
    left: 80px;
}

.me {
    width: 1100px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 40px;
    left: 80px;
}



.header-three {
    border: #34547A;
    background: #34547A;
    padding: 10px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.numbers-item {
    padding: 30px;
    position: relative;
    top: 20px;
    left: 225px;
}

.numbers-item2 {
    padding: 30px;
    position: relative;
    top: 20px;
    left: 245px;
}

.numbers-item3 {
    padding: 30px;
    position: relative;
    top: 20px;
    left: 265px;
}

.numbers-item4 {
    padding: 30px;
    position: relative;
    top: 20px;
    left: 285px;
}

.numbers-item5 {
    padding: 30px;
    position: relative;
    top: 20px;
    left: 305px;
}

.numbers-item6 {
    padding: 30px;
    position: relative;
    top: 20px;
    left: 325px;
}

.plus {
    color: white;
    font-size: 15px;
    height: 20px;
}

.old {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 60px;
    left: 422px;
}

.old2 {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 84px;
    left: 555px;
}

.old3 {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 109px;
    left: 690px;
}

.old4 {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 133px;
    left: 820px;
}

.old5 {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 157px;
    left: 955px;
}

.old6 {
    color: white;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 181px;
    left: 1090px;
} 

.project {
    color: white;
    font-size: 12px;
    height: 20px;
}

.all {
    padding: 5px;
    position: relative;
    bottom: 60px;
    left: 422px;
}

.all-2 {
    padding: 5px;
    position: relative;
    bottom: 81px;
    left: 555px;
}

.all-3 {
    padding: 5px;
    position: relative;
    bottom: 104px;
    left: 690px;
}

.all-4 {
    padding: 5px;
    position: relative;
    bottom: 126px;
    left: 820px;
}

.all-5 {
    padding: 5px;
    position: relative;
    bottom: 147px;
    left: 955px;
}

.all-6 {
    padding: 5px;
    position: relative;
    bottom: 168px;
    left: 1090px;
}




.mac {
    border: #EEEFF1;
    background-color: #EEEFF1;
    padding: 50px;
}

.visit {
    max-width: 1200px;
    margin: 0 auto;
}

.lor {
    width: 700px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 1px;
    left: 280px;
}

.work {
    max-width: 700px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 65px;
    left: 285px;
}

.code {
    width: 450px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 10px;
    left: 400px;
}

.vec {
    width: 85px;
    text-align: center;
    position: relative;
    top: 93px;
    left: 130px;
}




.end {
    border: #34547A;
    background-color: #34547A;
    padding: 15px;
}

.cont {
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    color: white;
    position: relative;
    top: 20px;
    left: 250px;
}

.name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: white;
    position: relative;
    bottom: 6px;
    left: 250px;
}




